<section id="about">
    <div class="container">
        <div class="row">
            <div class="text-center aboutUs">
                <h2 class="section-heading">Welcome to Texas Hill Country Drone Services!</h2>
                <hr>
                <p class="abt">
                    At Texas Hill Country Drone Services, we elevate perspectives through cutting-edge drone photography and videography.
                    <br>
                    Specializing in capturing stunning aerial imagery, we provide sharp 4K visuals for real estate, monitoring progress on construction sites, and more!
                    <br>
                    Our team of skilled drone pilots and creative professionals is committed to delivering breathtaking content from a new angle.
                    <br>
                    Whether you're looking to showcase a property, document construction progress, or enhance your brand's visual appeal, we offer customized solutions to meet your needs with precision and creativity.
                    <br>
                    Discover the world from above with Texas Hill Country Drone Services!
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container aboutUs">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary"></i>
                    <h3>Safety First</h3>
                    <p>We're FAA certified and registered to conduct operations throughout the United States. We strictly adhere to all safety regulations and guidelines, ensuring a secure and responsible operation from start to finish.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Versatile Services</h3>
                    <p>With cutting-edge drone technology and a passion for creative visuals, we specialize in delivering stunning, high-quality imagery for real estate, marketing or enhancing your brand’s visual content, and more! </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Professional Expertise</h3>
                    <p>We're licensed and experienced drone pilots who are dedicated to providing seamless, professional service, strategically tailoring each project to meet your unique vision.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p>We are deeply passionate about the work we do, putting our utmost effort and commitment into every project ensuring that the final product not only meets, but exceeds your expectations.</p>
                </div>
            </div>
            <br>
            <p class="abttag"><i>When you choose us you're choosing more than just a service, you're choosing a partner who cares deeply about bringing your vision to life.</i></p>
        </div>
    </div>
    <br>
    <img src="img/FAA_certified.jpg" alt="FAACertified" style="display:block;margin:auto;width:215px;height:214px;">
</section>