<aside class="bg-med" id="openToIdeas">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>
                <i class="fa fa-1x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <br>Have a unique idea in mind?<br>
                <i class="fa fa-1x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
            </h2>
            <h3>We’re flexible, innovative, and ready to take on custom projects that require specialized aerial photography or videography solutions!</h3>
            <h3>From industrial inspections to artistic shoots, we’re here to make your vision a reality!</h3>
            <br>
            <a href="#cform" class="btn btn-primary btn-xl btn-aside wow tada">Contact Us</a>
        </div>
    </div>
</aside>