  <aside class="bg-med" id="svcloc">
      <div class="container text-center">
          <div class="call-to-action">
              <h3>Primarily servicing Texas and Oklahoma</h3>
              <h3>Can travel upon request, reach out and let's start discussing your project today!</h3>
              <br>
              <i class="fa fa-plane fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <br>
              <br>
              <a href="#contact" class="btn btn-primary btn-xl btn-aside wow tada">CLICK HERE TO START A PROJECT!</a>
          </div>
      </div>
  </aside>