<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We specialize in providing high-quality aerial photography and videography services that elevate your perspective and deliver exceptional results.</h2>
                <hr class="light">
                <p class="text-faded">Our aerial photography & videography services capture stunning visuals from unique angles, perfect for:
                    <ul>
                        <li>Aerial Photography: Capture stunning aerial shots that showcase your property, event, or landscape from unique perspectives.</li>
                        <li>Aerial Videography: Create dynamic and engaging videos with smooth, cinematic aerial footage.</li>
                        <li>Real Estate Imagery: Enhance your Commercial and Residential property listings with captivating aerial photos and videos that attract potential buyers.</li>
                        <li>Event Coverage: Preserve the magic of your special events with breathtaking aerial shots and videos. Including birthdays, engagements, weddings, and more!</li>
                        <li>Surveying and Inspections: Conduct detailed surveys and inspections with high-resolution aerial imagery for accurate assessments.</li>
                        <li>Marketing and Advertising: Boost your brand’s visual appeal with stunning aerial content for your marketing campaigns.</li>
                </p>
                <p class="text-faded">Have a need/use for a drone that is not listed above? We're always excited to assist with new projects! (Click the button below to raech out.)</p>
                <a href="#" class="btn btn-default btn-xl">Contact Us Today!</a>
            </div>
        </div>
    </div>
</section>
