<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div>
                <h2 class="section-heading" style="text-align: center;">Texas Hill Country Drone Services is here to help!<br>Reach out for a quote today!</h2>
                <h3>Our aerial photography & videography services capture stunning visuals from unique angles in 4K!</h3>
                <hr class="light">
                <ul>
                    Perfect for:
                </ul>
                <p>Aerial Photography:</p>
                    <ul>
                        <li>Capture stunning 4K aerial shots that showcase your property, event, or landscape from unique perspectives.</li>
                    </ul>
                <p>Aerial Videography:</p>
                    <ul>
                        <li>Create dynamic and engaging 4K videos with smooth, cinematic aerial footage.</li>
                    </ul>
                <p>Real Estate Imagery:</p>
                    <ul>
                        <li>Enhance your Commercial and Residential property listings with captivating aerial photos and videos that attract potential buyers.</li>
                    </ul>
                <p>Event Coverage:</li>
                    <ul>
                        <li>Preserve the magic of your special events with breathtaking aerial shots and videos. Including birthdays, engagements, weddings, and more!</li>
                    </ul>
                <p>Surveying and Inspections:.</li>
                    <ul>
                        <li>Conduct detailed surveys and inspections with high-resolution aerial imagery for accurate assessments</li>
                    </ul>
                <p>Marketing and Advertising:</li>
                    <ul>
                        <li>Boost your brand’s visual appeal with stunning aerial content for your marketing campaigns.</li>
                    </ul>
                </p>
                <p>Have a need/use for a drone that is not listed above? We're always excited to assist with new projects! (Click the button below to reach out.)</p>
                <a href="#" class="btn btn-default btn-xl">Contact Us Today!</a>
            </div>
        </div>
    </div>
</section>
