<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <h2 class="section-heading" style="text-align: center;">Texas Hill Country Drone Services is here to help!</h2>
            <br>
            <h3 class="section-heading" style="text-align: center;">Our aerial photography & videography services capture stunning visuals from unique angles in 4K!</h3>
            <hr class="light">
            <div class="services-offered">
                <h3>Services we offer:</h3>
                <br>
                <p>> Aerial Photography:</p>
                    <ul>
                        <li>Capture stunning 4K aerial shots that showcase your property, event, or landscape from unique perspectives.</li>
                    </ul>
                <p>> Aerial Videography:</p>
                    <ul>
                        <li>Create dynamic and engaging 4K videos with smooth, cinematic aerial footage.</li>
                    </ul>
                <p>> Real Estate Imagery:</p>
                    <ul>
                        <li>Enhance your Commercial and Residential property listings with captivating aerial photos and videos that attract potential buyers.</li>
                    </ul>
                <p>> Event Coverage:</p>
                    <ul>
                        <li>Preserve the magic of your special events with breathtaking aerial shots and videos. Including birthdays, engagements, weddings, and more!</li>
                    </ul>
                <p>> Surveying and Inspections:</p>
                    <ul>
                        <li>Conduct detailed surveys and inspections with high-resolution aerial imagery for accurate assessments</li>
                    </ul>
                <p>> Marketing and Advertising:</p>
                    <ul>
                        <li>Boost your brand’s visual appeal with stunning aerial content for your marketing campaigns.</li>
                    </ul>
            </div>
        </div>
    </div>
</section>
