<aside class="bg-primary">
    <div class="container text-center">
        <div class="contact-formn">
            <h3>Contact Us</h3>
            <hr class="light">
            <form action="https://formspree.io/f/xvgpgyee" method="POST">

                <label>
                  Your email:
                  <input type="email" name="email">
                </label>
                <br>
                <label>
                  Your message:
                  <textarea name="message"></textarea>
                </label>
                <br>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</aside>