<section class="bg-primary" id="cform">
     <div class="contact-form" content="width=device-width, initial-scale=1">
        <h2>Contact Us</h2>
        <hr class="light">
        <br>
        <div class="contact-form-form" style="display:block;margin:auto;">
            <form action="https://formspree.io/f/xvgpgyee" method="POST">

                <label for="youremail">Your Email Address: (50 max characters)</label>
                <input type="text" id="youremail" name="email" placeholder="Enter your email address" maxlength="50" required>
                <br>
                <label for="service">Select Service:</label>
                    <select id="service" name="service">
                        <option value="eventcoverage">Event Coverage</option>
                        <option value="realestate">Real Estate</option>
                        <option value="surveyinginspections">Surveying and Inspections</option>
                        <option value="marketingads">Marketing and Advertising</option>
                        <option value="generalinquiry">General Inquiry / Other</option>
                    </select>
                <br> 
                <label for="yourmessage">Please provide project details below: (400 max characters)</label>
                <textarea id="yourmessage" name="message" placeholder="Type your project details here..." style="height:200px" maxlength="400" required></textarea>

                <button type="submit" class="btn btn-default btn-xl">Send</button>
            </form>
        </div>
    </div>
</section>