<header>
    <div class="header-content">
        <img src="img/footer.png" alt="TexasHillCountryLogo" style="float:center;width:447px;height:330px;">
        <br>
        <div class="header-content-inner">
            <h1>Welcome<br>to</h1>
            <h2>Tx Hill Country Drone Services!</h2>
            <hr>
            <p>We specialize in providing high-quality aerial photography and videography services that elevate your perspective and deliver exceptional results.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">CHECK OUT OUR SERVICES</a>
        </div>
    </div>
</header>
