<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/header3_5.png" alt="TexasHillCountryLogo" width="552" height="414">
            <h3>Welcome<br>to<br>Tx Hill Country Drone Services!</h3>
            <hr>
            <p>We specialize in providing high-quality aerial photography and videography services that elevate your perspective and deliver exceptional results.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">CHECK OUT OUR SERVICES</a>
        </div>
    </div>
</header>
