<header>
    <div class="header-content">
        <img src="img/header3.png" alt="TexasHillCountryLogo" style="width:558px;height:412px;">
        <div class="header-content-inner">
            <h2>Welcome<br>to<br>Tx Hill Country Drone Services!</h2>
            <hr>
            <p>We specialize in providing high-quality aerial photography and videography services that elevate your perspective and deliver exceptional results.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">CHECK OUT OUR SERVICES</a>
        </div>
    </div>
</header>
