<header id="home">
    <div class="header-content">
        <div class="header-content-inner inner-img">
            <img class="inner-img" src="img/logoheader.png" alt="TexasHillCountryLogo">
            <!-- EDITING IMG - ATTEMPTING TO ADD VID <video id="background-video" autoplay loop muted poster="img/logoheader.png">
                <source src="img/logointrovid.mp4" type="video/mp4">
            </video> -->
        </div>
        <div class="header-content-inner">
            <a href="#about" class="btn btn-primary btn-xl page-scroll">ABOUT US</a>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">OUR SERVICES</a>
            <br>
        </div>
    </div>
</header>