<aside class="bg-med" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Service Areas</h2>
            <hr>
            <h3>Primarily servicing Texas and Oklahoma.</h3>
            <h3>Available for travel across North America upon request.</h3>
            <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <h3>Reach out today!</h3>
            <br>
            <a href="#contact" class="btn btn-primary btn-xl btn-aside wow tada">CONTACT US</a>
        </div>
    </div>
</aside>