<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1-1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Aerial Photography & Videography
                            </div>
                            <div class="project-name">
                                Perfect for events and marketing campaigns.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2-2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Aerial Photography & Videography
                            </div>
                            <div class="project-name">
                                Perfect for real estate and city marketing/branding.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Aerial Photography & Videography
                            </div>
                            <div class="project-name">
                                Perfect for golf course flyovers and golf course management.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4-4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Aerial Photography & Videography
                            </div>
                            <div class="project-name">
                                Perfect for building inspections for commercial buildings and residential housing.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5-5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Aerial Photography & Videography
                            </div>
                            <div class="project-name">
                                Engaging promotional photos and videos for businesses, cities, products, and services.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6-6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Aerial Photography & Videography
                            </div>
                            <div class="project-name">
                                Perfect for farmers who need to monitor crop and livestock conditions to keep watch for potential problems and help optimize field management.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
