<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <h2 class="section-heading" style="text-align: center;">Texas Hill Country Drone Services is here to help!</h2>
            <br>
            <h3 class="section-heading" style="text-align: center;">Our aerial photography & videography services capture stunning visuals from unique angles in 4K!</h3>
            <hr class="light">
            <br>
            <h3 class="section-heading" style="text-align: center;">Services Offered</h3>
            <div class="services-offered">
                <br>
            </div>
        </div>
    </div>
    <div class="threecolumn-row">
        <div class="threecolumn-lo" style="background-color:#aaa; color:black">
            <h4 style="text-align: center;">Aerial Photography</h4>
            <hr>
            <h4 style="text-align: center;"><i class="fa fa-camera-retro fa-2x wow bounceIn" data-wow-delay=".1s"></i></h4>
            <ul>
                <li><b>Real Estate:</b></li>
                    <ul>
                        <li>Showcase properties with breathtaking aerial photos that highlight the location, surroundings, and architecture.</li>
                    </ul>
                <li><b>Landscapes and Wildlife:</b></li>
                    <ul>
                        <li>Stunning aerial shots of natural landscapes, parks, and outdoor spaces. Record the seasonal changes of landscapes, agricultural fields, and natural environments over time.</li>
                    </ul>
                <li><b>Commercial Projects:</b></li>
                    <ul>
                        <li>Enhance marketing materials with aerial images of business locations, construction sites, and more.</li>
                    </ul>
                <li><b>Stock Photography and Videography:</b></li>
                    <ul>
                        <li>Providing high-quality stock photos and videos for various projects.</li>
                    </ul>
            </ul>   
        </div>
        <div class="threecolumn-lo" style="background-color:#bbb; color:black">
            <h4 style="text-align: center;">Aerial Videography</h4>
            <hr>
            <h4 style="text-align: center;"><i class="fa fa-video-camera fa-2x wow bounceIn" data-wow-delay=".1s"></i></h4>
            <ul>
                <li><b>Real Estate Tours:</b></li>
                    <ul>
                        <li>Create immersive video tours of properties, including aerial views of neighborhoods and amenities.</li>
                    </ul>
                <li><b>Corporate and Promotional Videos:</b></li>
                    <ul>
                        <li>Add dynamic aerial footage to corporate videos, commercials, and promotional content.</li>
                    </ul>
                <li><b>Construction Monitoring:</b></li>
                    <ul>
                        <li>Aerial video for tracking progress on construction sites, from start to completion.</li>
                    </ul>
                <li><b>Cinematic Productions:</b></li>
                    <ul>
                        <li>High-quality aerial footage for films, documentaries, and music videos. Create dynamic shots and special effects that enhance creative projects.</li>
                    </ul>
            </ul> 
        </div>
        <div class="threecolumn-lo" style="background-color:#ccc; color:black">
            <h4 style="text-align: center;">Spealized Drone Services</h4>
            <hr>
            <h4 style="text-align: center;"><i class="fa fa-star fa-2x wow bounceIn" data-wow-delay=".1s"></i></h4>
            <ul>
                <li><b>Aerial Time-lapses:</b></li>
                    <ul>
                        <li>Capture the progression of projects or events over time with aerial time-lapse videos.</li>
                    </ul>
                <li><b>Inspection Services:</b></li>
                    <ul>
                        <li>Drone inspections of infrastructure, rooftops, power lines, and other hard-to-reach areas.</li>
                    </ul>
                <li><b>Surveying and Mapping:</b></li>
                    <ul>
                        <li>Precision aerial surveys and mapping for agriculture, construction, and environmental monitoring.</li>
                    </ul>
                <li><b>Disaster Response and Recovery:</b></li>
                    <ul>
                        <li>Quickly assess damage in disaster-stricken areas, assist in search and rescue missions, document post-disaster conditions for insurance claims and more.
                        </li>
                    </ul>
            </ul> 
        </div>
    </div>
    <hr class="light">
    <br>
    <h3 style="text-align: center;">Check out our gallery below:</h3>
</section>