<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <h2 class="section-heading" style="text-align: center;">Texas Hill Country Drone Services is here to help!</h2>
            <br>
            <h3 class="section-heading" style="text-align: center;">Our aerial photography & videography services capture stunning visuals from unique angles in 4K!</h3>
            <hr class="light">
            <br>
            <h3>Services we offer:</h3>
            <div class="services-offered">
                <h3>Services we offer:</h3>
                <br>
            </div>
        </div>
    </div>
    <div class="threecolumn-row">
        <div class="threecolumn-lo" style="background-color:#aaa; color:black">
            <h4>Aerial Photography:</h4>
            <ul>
                <li>Real Estate:</li>
                    <ul>
                        <li>Showcase properties with breathtaking aerial photos that highlight the location, surroundings, and architecture.</li>
                    </ul>
                <li>Landscapes and Wildlife:</li>
                    <ul>
                        <li>Stunning aerial shots of natural landscapes, parks, and outdoor spaces.</li>
                    </ul>
                <li>Commercial Projects:</li>
                    <ul>
                        <li>Enhance marketing materials with aerial images of business locations, construction sites, and more.</li>
                    </ul>
                <li>Stock Photography and Videography:</li>
                    <ul>
                        <li>Providing high-quality stock photos and videos for various projects.</li>
                    </ul>
            </ul>   
        </div>
        <div class="threecolumn-lo" style="background-color:#bbb; color:black">
            <h4>Aerial Videography:</h4>
            <ul>
                <li>Real Estate Tours:</li>
                    <ul>
                        <li>Create immersive video tours of properties, including aerial views of neighborhoods and amenities.</li>
                    </ul>
                <li>Corporate and Promotional Videos:</li>
                    <ul>
                        <li>Add dynamic aerial footage to corporate videos, commercials, and promotional content.</li>
                    </ul>
                <li>Construction Monitoring:</li>
                    <ul>
                        <li>Aerial video for tracking progress on construction sites, from start to completion.</li>
                    </ul>
                <li>Cinematic Productions:</li>
                    <ul>
                        <li>High-quality aerial footage for films, documentaries, and creative projects.</li>
                    </ul>
            </ul> 
        </div>
        <div class="threecolumn-lo" style="background-color:#ccc; color:black">
            <h4>Spealized Drone Services:</h4>
            <ul>
                <li>Aerial Time-lapses:</li>
                    <ul>
                        <li>Capture the progression of projects or events over time with aerial time-lapse videos.</li>
                    </ul>
                <li>Inspection Services:</li>
                    <ul>
                        <li>Drone inspections of infrastructure, rooftops, power lines, and other hard-to-reach areas.</li>
                    </ul>
                <li>Surveying and Mapping:</li>
                    <ul>
                        <li>Precision aerial surveys and mapping for agriculture, construction, and environmental monitoring.</li>
                    </ul>
                <li>Disaster Response and Recovery:</li>
                    <ul>
                        <li>Quickly assess damage in disaster-stricken areas, assist in search and rescue missions, document post-disaster conditions for insurance claims and more.
                        </li>
                    </ul>
            </ul> 
        </div>
    </div>
    <hr class="light">
            <br>
            <h3 style="text-align: center;">Check out our gallery below:</h3>
</section>