<aside id="support">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 style="text-align: center;">Want to support Tx Hill Country Drone Services?</h2>
            <hr class="primary">
            <h4 style="text-align: center;">With your support, we can expand our range of services, from aerial photography and videography to surveying, search and rescue efforts, and precision agriculture. This allows us to cater to a broader market and address diverse industry challenges.</h4>
            <br>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="thcdroneservices" data-color="#AC1E23" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#FFFFFF" data-font-color="#FFFFFF" data-coffee-color="#FFFFFF" ></script>
            <h4 style="text-align: center;">Thank you for your support!</h4>
        </div>
    </div>
</aside>